<ion-header>
    <ion-toolbar>
        <ion-title>
            PAW!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-content">
        <ion-list>
            <ion-item>
                <ion-img src="/assets/Tomo.jpg"></ion-img>
            </ion-item>
        </ion-list>
        
        <h2>Tomo</h2>
        <br>Gender : Male
        <br>Breed : Persian
        <p>The big fella, the king of jungle, and definitely the easiest to spot! 
            He's the biggest and cuddliest kitty at the Kubikel Cat. Very gentle and friendly, 
            Tomo can be spotted perching on top of the cat tower like royalty he is or on his floor among his pals.
        </p>
    </ion-card>



    <ion-card class="welcome-content">
        <ion-list>
            <ion-item>
                <ion-img src="/assets/f8272f4b172fff2a051ba42808a8a560.jpg"></ion-img>
            </ion-item>
        </ion-list>
            
        <h2>Kimchi</h2>
        <br>Gender : Male
        <br>Breed : Persian
        <p>Always grumpy on the out side, 
            Kimchi trots around the Kubikel with his signature pout. 
            However, he is a real softie inside! He will approach humas when they bring interisting items to the kubikel 
            (it can be anythings, really !)
        </p>
        </ion-card>

    <ion-card class="welcome-content">
        <ion-list>
            <ion-item>
                <ion-img src="/assets/9da397e4f7e315764bcd9d0d895aa467.jpg"></ion-img>
            </ion-item>
        </ion-list>
                
        <h2>Niquita</h2>
        <br>Gender : Female
        <br>Breed : Persian - Siames Mix
        <p>With a Siames dad and the persian mom, this little princess' appreal is absolutly universal. One look at her piercing baby blues and you are guaranteed to fall hard. Niquita is rather shy, but she is one of the cats who appreciate gentle cuddles, especially if she likes you!
        </p>
    </ion-card>
        
    <ion-card class="welcome-content">
        <ion-list>
            <ion-item>
                <ion-img src="/assets/2673a1853112b675ca14f049ada4b9db.jpg"></ion-img>
            </ion-item>
        </ion-list>
                    
        <h2>Ka-Chan</h2>
        <br>Gender : Male
        <br>Breed : Persian
        <p>The sidekick of Tomo's in their Giant Kitty Brigade, Ka-Chan is a beautiful boy with round, expenssive eyes. Ka-Chan is also the perfect lap cat. Lift him up gently and put him on your lap for a full Ka-Chan experience. he won't move as long as he's comfortable!
        </p>
    </ion-card>

    <ion-card class="welcome-content">
        <ion-list>
            <ion-item>
                <ion-img src="/assets/8c0df3fdd97c240626eb0d0d3397daa6.jpg"></ion-img>
            </ion-item>
        </ion-list>
                        
        <h2>Nona</h2>
        <br>Gender : Female
        <br>Breed : Local Shorthair
        <p>The true definiton of a lady : beautiful, graceful, and more than a little bit sassy ! We hope you approach her as you would a lady (winks). Her previous owner almost put her down, but she was saved by an animal shelter. She has come for a long way; she is now happy and healthy little girl.
        </p>
    </ion-card>
                
    <ion-card class="welcome-content">
        <ion-list>
            <ion-item>
                <ion-img src="/assets/39ca6475b67353c5b3cb62936c7f3d08.jpg"></ion-img>
            </ion-item>
        </ion-list>
                            
        <h2>Flavis and Giallo</h2>
        <br>Gender : Female, Male
        <br>Breed : Local Shorthair
        <p>We pair them togather, even in the bios, because they are inseparable. We had the pleasure of adopting them from an animal shelter under one condition : they are not to be separated. And so here they are ! The friendliest, kindest cats you will ever meet.</p>
    </ion-card>

</ion-content>
