.welcome-content {
    max-height: 100vh;
    overflow: hidden;
      padding: 10px 20px 30px 20px;
    text-align:center;
    font-family: 'comic sans MS';
    
}
ion-header{
  text-align: center;
}
