<ion-header>
        <ion-toolbar>
            <ion-title>
                Kubikel Cat
            </ion-title>
        </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-slides pager>
            <ion-slide>
                <ion-img src="/assets/cat.jpg"></ion-img>
            </ion-slide>
            
            <ion-slide>
                <ion-img src="/assets/a-day-in-a-cat-café-in-seoul-south-korea-sabrina-iovino-justonewayticket-com.jpg"></ion-img>
            </ion-slide>

            <ion-slide>
                <ion-img src="/assets/the-cat-lounge.jpg"></ion-img>
            </ion-slide>
        </ion-slides>
    </ion-card>
</ion-content>


<ion-content>
    <ion-card class="welcome-content">
        <h3>Kubikel Cat</h3>
        <p>At Kubikel Cat, anybody is welcome to pop by, order themselves a cuppa, and play with our cats in a clean, fun, and welcoming environment. The worldwide phenomenon of Cats Cafes that originated in Taiwan has now arrived in Indonesia. Each of the cats in Kubikel Cat comes from a unique background. The majority of these furry fellas were adopted - not bought - from animal clinics/ shelters or former owners who, due to various circumtances, could no longer care for them.
            Kubikel Cat holds the unmost regard for cleanliness and hygiene. Each of the cats has been vaccinated and bathed regulary. Moreover, as much as we enjoy seeing them roam around the cafe, they are not to enter the food preparation area; the food preparation station is entirely separate from the cat area and is not accasible to cats.</p>
    </ion-card>
</ion-content>
