<ion-header>
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-content">
    <b><u><i>Appetizer</i></u></b>
    <p><b>Tortie - Tastic</b></p>
    <p>Tortilla - 40</p>
    <p><i>Nachos with Salsa Sauce</i></p>
    <p></p><p></p>
    <p><b><u><i>Beverages</i></u></b></p>
    <p><strong>Milkshakes - 40</strong></p>
    <p><strong>Tea Selection</strong> <em>(sold per for to max. 2 persons)</em> <strong>- 30 </strong></p>
    <p><strong>Coffee Selection - 32</strong></p>
        <p><strong>Minuman Coklat Nona Manis - 37</strong></p>
        <p><em>Brownie - inflused Hot Chocolate</em></p>
        <p><strong>Green Kittea Latte - 32</strong></p>
        <p><strong>Aunty Niquita's Lychee Tea - 28</strong></p>
        <p><strong>kitty Punch - 25</strong></p>
        <p>Fruit Punch w/ Milk Cubes</p>
        <p><strong>TCC's Purr-fect Homemade Iced Tea - 25</strong></p>
  <p></p><p></p>
  <p><em><strong><u>Main Dishes</u></strong></em></p>
  <p><strong>Nasi Kuning Cakalang - 35</strong></p>
  <p><em>Indonesian Yellow Rice w/ Tuna</em></p>
  <p><strong>Fettucine Carbadtznara - 40</strong></p>
  <p><em>Thin Ribbon Pasta w/ Creamy Sauce, Cheese &amp; Smoked Beef</em></p>
  <p><strong>Baked Cheesy - Roni - 35</strong></p>
  <p><em>Baked Macaroni w/ Cheese</em></p>
  <p><strong>Nasi Goreng Pak Jenggot - 35</strong></p>
  <p><em>Indoneisan-style Fried Rice w/ Chicken</em></p>
  <p></p><p></p>
  <p><strong><em><u>Sweets</u></em></strong></p>
  <p><strong>Jarcakes - 33</strong></p>
  <p><em>Flavors : M&amp;M's, Blueberry, White Choco, Vanilla Confetti, Salted Choco, Caramel Pretzel</em></p>
  <p><strong>Avocado Mousse - 30</strong></p>
  <p><strong>Soft Pudding - 20</strong></p>
  <p>Flavors : Matcha, Teh Tarik</p> 
  </ion-card>
</ion-content>
